---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						
						
						</br></br>
						<hr>
						</br>
					
						
						<h1 class="text-left">Minisymposia submissions</h1>
						<h4 class="text-left">Deadline: <strong>Extended to February 16, 2025</strong></h4>

						<div class="row text-left">
						  <div class="col-12 text-left">				
								

									<p class="bright-links">Please fill out the form below to submit a minisymposium. Note: we ask that you <strong>contact all proposed speakers before submitting this form for their approval</strong>. Talk titles are tentative and may be changed later if the minisymposium is accepted.</p>
									
									
									<p class="bright-links">
										<ol>
											<li>Each minisymposium session will last for two hours, and should consist of four talks centred around a common theme.
											<li>Minisymposia spanning multiple sessions will be considered. Two sessions with a total of eight speakers can be submitted in one application form. If more than two sessions are desired (maximum 4), the applicant(s) should submit a second application form with the same title, where justification for the additional sessions is provided in the description. </li>
											<li>Each minisymposium should have a designated lead organiser, and a maximum of two co-organisers. Organisers should ensure they assemble a diverse speaker list, and that all speakers have agreed to participate in the minisymposium by the time of submission. </li>
Participants will be allowed to give a maximum of two minisymposium talks at the conference. The second talk must be in a different area of math biology or education.</li>
										</ol>
										
									</p>
									
									<p>
										<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdA2cTlxIQ5pIWCFc2LurSj3Rogcd9ae5UeKY0Ma-o5tRq4dA/viewform?embedded=true" width="100%" height="1850" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
									</p>
										
							</div>
						</div>
						
						</br></br>
						<hr>
						</br>

						<h1 class="text-left">Contributed talk submissions</h1>
						<div class="row text-left">
						  <div class="col-12 text-left">				
								

									<p class="bright-links">Coming soon.</p>
									
										
							</div>
						</div>
						
						
						
						
						{% include footer.html %}
						
						
						
						
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>





<!-- 		        {% include banner.html %} -->













