---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - Annual Meeting 2025."
---


<div class="container">
	<div class="col-md-12 main-loop">
		<div class="row">
	    	<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-12">
						
					
						<h1 class="text-left">Society for Mathematical Biology Annual Meeting - 2025</h1>
						<h4 class="text-left">Edmonton, Canada</h4>
						</br>
						
						<!-- image -->
						{% include banner.html %}
						
						</br></br>
						<hr>
						</br>
					
						
						
						</br></br>
						
						<div class="row text-left">
						  	<div class="col-md-5 text-left">				
								<h1 class="text-left">Edmonton Convention Center</h1>
								<h4 class="text-left">July 13-18, 2025</h4>
								<p class="text-justify">The University of Alberta is eager to invite you to participate in the Annual Meeting of the Society for Mathematical Biology in the summer of 2025. Located in the northernmost metropolis in North America, the city of Edmonton will make a beautiful location for SMB 2025. Edmonton International Airport (YEG) offers non-stop flights from more than 50 major cities in Canada, the United States, and international destinations.
								</p>	
							</div>
							<!-- image -->
							<div class="col-md-7">
								<img class="w-100" src="{{site.baseurl}}/assets/images/campus/1.jpg" alt="Picture of conference venue">  
								
							</div>
						</div>
						
						</br>
						
						
						
						
<!--
						</br></br>
						<hr>
						</br>
-->
											
						
<!-- 						<h1 class="text-left">How to navigate this schedule:</h1> -->
<!-- 						<p class="text-left">There are multiple ways to navigate the schedule. You may browse by subgroup, below:</p> -->
						<!--  {% include subgroup_menu.html %} -->
						 	
					 	<!--  {% include subgroup_descriptions.html %} -->
					 	
<!-- 					 	<p class="text-left">Alternatively, click on any box in the full schedule below to view the full list of parallel tracks (e.g. click "Minisymposium 1" to view all minisymposia at that time).</p> -->
					 	
					 	
					 	
<!--
					 	</br>
						<hr>
						</br>
-->
				
						<!--  {% include pre-conference.html %} -->
						
<!--
						</br>
						<hr>
						</br>
-->
				
						<!--  {% include 24_schedule.html %} -->	
						
						
						{% include footer.html %}	
						
						
						
						
												
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>












